.container {
  bottom: 0;
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -1px 9px 0 rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: space-between;
}

.order {
    color: #223136;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.subHeading {
    color: #9b9b9b;
    font-size: 12px;
    padding-right: 7px;
}

.details {
    padding: 0;
    width: 56px;
    color: #ef3e42;
    font-size: 11px;
    font-weight: 600;
}

.wrapper {
    padding: 5px 15px;
}

.boundry {
    display: flex;
}