.heading {
    margin: 0;
    color: var(--headingColor);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 27px;
}

.info {
    font-size: 12px;
}

.hrLine {
    margin: 13px 0;
    background-color: #E0E0E0;
}

.subHeading {
    color: #9b9b9b;
    font-size: 12px;
  }
  
