.container {
    margin: 14px 9px 15px 16px;
    padding: 10px;
}

.heading {
    margin: 0;
    color: var(--headingColor);
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 27px;
}

.headingWrapper {
    display: flex;
    justify-content: space-between;
}

.subHeading {
    color: var(--subHeadigColor);
    font-size: 12px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 226px;
}

.split {
    padding: 0 14px;
}
