.button {
    float: right;
    bottom: 0;
    right: 0;
    position: fixed;
    height: 60px;
    width: 149px;
    border-radius: 11px 0 0 0;
    background-color: #EF3E42;
}

.orderHeading {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
    padding-right: 8px;
}
